/* styles.css */
/* universal selector - Applies to all of document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
    color: #fff;
    }    

    /* To keep everything in game centered */
.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    }
    